h1 {
    color: blue;
    text-align: center;
  }
  h2 {
      color: green;
      font-style: italic;
      text-align: center;
  }
  p {
      font-family: sans-serif;
  }
  ul {
      line-height: 40px;
  }
  h1 {
    color: #00f;
  }
  h2 {
      color: #00FF00;
  }
  .intro {
      font-style: italic;
  }
  .intro {
        color: red;
        font-size: 16px;
  }
  p.author {
      font-size: 16px;
  }
  .line1 {
      color: rgb(148, 128, 240);
  }
  .line2 {
      color: lightcyan;
  }
  .important {
      color: mediumblue;
  }
  .unimportant {
      color: olive;
  }
  .important {
      background-color: orange;
  }
  .sidebar {
      width: 50%;
      float: left;
      background-color: rgb(0, 255, 170);
  }
  .column {
      width: 600px;
      float: right;
  }
  .text-box1 {
      border: 2px solid green;
      padding: 6px;
      margin: 20px;
      background-color: rgb(153, 0, 255);
  }
  .text-box2 {
      border: 2px solid red;
      padding: 6px;
      margin: 20px;
      background-color: yellowgreen;
  }
  .text-box3 {
      border: 2px solid yellow;
      padding: 6px;
      margin: 20px;
      background-color: tomato;
  }
  body {
      font-family: sans-serif;
  }
  @media screen and (min-width: 480px) {
    body {
        background-color: black;
        color: white;
    }
}