h1 {
    color: blue;
    text-align: center;
  }
  h2 {
      color: green;
      font-style: italic;
      text-align: center;
  }
  p {
      font-family: sans-serif;
  }
  ul {
      line-height: 40px;
  }
  h1 {
    color: #00f;
  }
  h2 {
      color: #00FF00;
  }
  .intro {
      font-style: italic;
  }
  .intro {
        color: red;
        font-size: 12px;
  }
  p.author {
      font-size: 12px;
  }
  .line1 {
      color: rgb(148, 128, 240);
  }
  .line2 {
      color: lightcyan;
  }
  .important {
      color: mediumblue;
  }
  .unimportant {
      color: olive;
  }
  .important {
      background-color: orange;
  }
  .sidebar {
      width: 30%;
      float: left;
      background-color: yellow;
  }
  .column{
      width: 350px;
      float: left;
  }